<%= turbo_frame_tag "issue_form" do %>
  <div class="mx-auto sm:w-1/2 w-full">
    <%= tag.h1 I18n.t("common.actions.edit", name: Issue.model_name.human), class: "font-bold text-2xl mb-4" %>

    <%= render "form", issue: @issue %>
  </div>
<% end %>