<%= turbo_frame_tag "issue_form" %>

<div class="mx-auto mt-6 sm:w-3/4 w-full border-t border-gray-100">
  <ul role="list" class="mx-auto md:w-3/4 w-full space-y-6">
    <%= turbo_frame_tag "issues" do %>
      <%= render @issues %>
    <% end %>
  </ul>

  <div class="flex mt-12 items-center justify-center space-x-4 w-full pb-10">
    <%== pagy_nav(@pagy) %>
  </div>
  <p class="text-center mt-8 text-gray-500"><%#== pagy_info @pagy %></p>
</div>
